{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/bootstrap/css/bootstrap.min.css' %}">
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Story 4</title>
  </head>
  <body>
    <footer class="row text-center">
        <div class="col-sm">
            <p class="credit">Icon made by Freepik from www.flaticon.com</p>
        </div>
        <div class="col-sm">
            <p class="text-center">&copy; Al Taaj</p>
        </div>
        <div class="col-sm">
            <p class="credit">Icon made by Those Icons from www.flaticon.com</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>