* {
    font-family: 'Roboto', sans-serif;
}

nav {
    padding : 100px;
    background-color: #85DCBB;
}

.wallpaper {
    background-color: #85DCBB; 
    color: white;
    padding: 20%;
}

.aboutme {
    padding: 10px;
}

.details {
    padding: 10px;
}

.myimg {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1,h2 {
    color: #41b3a3;
}

h1.contact{
    color: white;
}

.contact {
    background-color: #85DCBB;
    padding: 13%;
}

.text-contact {
    text-align: center;
}

.section {
    padding: 10%;
}

.button {
    margin : 10px;
}

.mysocmed{
    margin-bottom: 10px;
}

.social-icon {
    padding-left: 45%;
}

footer{
    background-color: #05386B;
    color: white;
    padding: 10px;  
}

@media only screen and (max-width: 575px) {
    .contact-row {
        display: flex;
        flex-direction: column;
    }

    .about-row {
        display: flex;
        flex-direction: column;
    }

    .social-icon {
        padding-left: 37%;
    }

    .skill {
        text-align: left;
    }
  }