{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/bootstrap/css/bootstrap.min.css' %}">
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Story 4</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 2%">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}" target="_top">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" target="_top">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume' %}" target="_top">RESUME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}" target="_top">CONTACT</a>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'form' %}" target="_top">FORM</a>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'friend' %}" target="_top">FRIENDS</a>
          </ul>
        </div>
    </div>
    </nav>
    <div class="container-fluid">
    <div class="grid">
        <div class="row contact-row">
            <div class="col-sm-4 contact">
                <h1 style="color:white;"class="text-contact">CONTACT</h1>
            </div>
            <div class="col-sm-8 section">
                <div class="row message">
                    <div class="col-sm">
                        <h2 class="text-center">Get in touch with me</h2>
                    </div>
                </div> 
                <div class="row button">
                    <div class="col-sm text-center">
                        <button type="button" class="btn btn-primary button" data-toggle="modal" data-target="#exampleModal" data-whatever="altaaj23@gmail.com"> 
                            <img src="{% static 'story4/images/email.svg' %}" alt="email" width="50px" height="50px">
                            Message Me
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form>
                                        <div class="form-group">
                                          <label for="recipient-name" class="col-form-label">Recipient:</label>
                                          <input type="text" class="form-control" id="recipient-name">
                                        </div>
                                        <div class="form-group">
                                          <label for="message-text" class="col-form-label">Message:</label>
                                          <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                      </form>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Send message</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>
                </div>
                <div class="row mysocmed">
                    <div class="col-sm">
                        <h2 class="text-center">My Social Media</h2>
                    </div>
                </div>
                <div class="row social-icon">
                    <a href="https://www.instagram.com/altaajkautsar/">
                    <img src="{% static 'story4/images/insta.svg' %}" height="50px" width="50px">
                    </a>
                    <a href="https://www.linkedin.com/in/al-taaj-kautsar-supangkat-43b450150/">
                    <img src="{% static 'story4/images/linkedin.svg' %}" height="50px" width="50px">
                    </a>
                </div>
            </div>
        </div>

        {% include 'footer/footer.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>$('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
          })</script>
    </body>
</html>