{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/bootstrap/css/bootstrap.min.css' %}">
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Story 4</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 2%">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}" target="_top">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" target="_top">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume' %}" target="_top">RESUME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}" target="_top">CONTACT</a>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'form' %}" target="_top">FORM</a>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'friend' %}" target="_top">FRIENDS</a>
          </ul>
        </div>
    </div>
    </nav>
    <div class="grid wallpaper">
            <div class="row">
                <div class="col-sm welcome">
                    <h1 class="text-center" style="color:white;">WELCOME</h1>
                </div>
            </div>
            </div>
            {% include 'footer/footer.html' %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>