{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/bootstrap/css/bootstrap.min.css' %}">
    <!--style.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'story4/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Story 4</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 2%;">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}" target="_top">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}" target="_top">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume' %}" target="_top">RESUME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}" target="_top">CONTACT</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'form' %}" target="_top">FORM</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'friend' %}" target="_top">FRIENDS</a>
            </ul>
        </div>
    </div>
    </nav>

    <div class="container">
        <div class="grid">
            <h1 style="padding-top: 50px; padding-bottom: 50px;">RESUME</h1>
            <div class="row">
                <div class="col-sm">
                    <h2>EDUCATION</h2>
                    <ul>
                        <li>Universitas Indonesia</li>
                        <li>SMAN 8 Jakarta (2016-2019)</li>
                        <li>SMPN 115 Jakarta (2013-2016)</li>
                        <li>SDIT Al-Ittihaad (2007-2013</li>
                    </ul>
                </div>
            </div>
            <div class="row skill-row">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-2 text-right skill">
                    <h2>SKILLS</h2>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Python</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>EXPERIENCES</h2>
                    <ul>
                        <li>Teknologi dan Soundsystem (Head of R&D Computer Division)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer/footer.html' %}

    <script type="text/javascript" src="{% static 'story4/bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'story4/bootstrap/js/bootstrap.min.js' %}"></script>

    </body>
</html>